USE [Kycapplication_29082023]
GO
/****** Object:  Table [dbo].[AadharApi_data]    Script Date: 21-08-2024 16:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AadharApi_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kycid] [varchar](50) NULL,
	[fullname] [varchar](250) NULL,
	[care_of] [varchar](250) NULL,
	[aadhar_card] [varchar](15) NULL,
	[client_id] [varchar](50) NULL,
	[DOB] [varchar](15) NULL,
	[address] [varchar](500) NULL,
	[status_code] [varchar](10) NULL,
	[message] [varchar](300) NULL,
	[success] [varchar](50) NULL,
	[Create_at] [datetime] NULL,
	[fullname2] [varchar](250) NULL,
	[care_of2] [varchar](250) NULL,
	[aadhar_card2] [varchar](15) NULL,
	[client_id2] [varchar](50) NULL,
	[DOB2] [varchar](15) NULL,
	[address2] [varchar](500) NULL,
	[status_code2] [varchar](10) NULL,
	[message2] [varchar](300) NULL,
	[success2] [varchar](50) NULL,
	[ConsentLetterHA] [varchar](300) NULL,
	[ConsentLetterHB] [varchar](300) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AadharApi_data] ON 

SET IDENTITY_INSERT [dbo].[AadharApi_data] OFF
GO
ALTER TABLE [dbo].[AadharApi_data] ADD  DEFAULT (getdate()) FOR [Create_at]
GO
