USE [Kycapplication_29082023]
GO
/****** Object:  Table [dbo].[otp]    Script Date: 21-08-2024 16:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mobile] [varchar](255) NULL,
	[otp_gen] [varchar](500) NULL,
	[otp_receive] [int] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[otp] ON 

INSERT [dbo].[otp] ([id], [mobile], [otp_gen], [otp_receive], [status], [created_at]) VALUES (4054, N'7045032052', N'931362', 931362, 2, CAST(N'2023-03-29T13:20:46.347' AS DateTime))
INSERT [dbo].[otp] ([id], [mobile], [otp_gen], [otp_receive], [status], [created_at]) VALUES (4055, N'7045032052', N'894636', 894636, 2, CAST(N'2023-03-29T14:53:58.600' AS DateTime))
INSERT [dbo].[otp] ([id], [mobile], [otp_gen], [otp_receive], [status], [created_at]) VALUES (4056, N'7045032052', N'526118', 526118, 2, CAST(N'2023-03-29T14:56:35.780' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[otp] OFF
GO
ALTER TABLE [dbo].[otp] ADD  DEFAULT (getdate()) FOR [created_at]
GO
