USE [Kycapplication_29082023]
GO
/****** Object:  Table [dbo].[PanApi_data]    Script Date: 21-08-2024 16:13:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PanApi_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kyc_id] [varchar](30) NULL,
	[fullname] [varchar](150) NULL,
	[Pan_number] [varchar](15) NULL,
	[client_id] [varchar](50) NULL,
	[category] [varchar](50) NULL,
	[status_code] [varchar](50) NULL,
	[success_result] [varchar](50) NULL,
	[msg_result] [varchar](300) NULL,
	[msg_code] [varchar](100) NULL,
	[Create_at] [datetime] NULL,
	[fullname2] [varchar](150) NULL,
	[Pan_number2] [varchar](15) NULL,
	[client_id2] [varchar](50) NULL,
	[category2] [varchar](50) NULL,
	[status_code2] [varchar](50) NULL,
	[success_result2] [varchar](50) NULL,
	[msg_result2] [varchar](300) NULL,
	[msg_code2] [varchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PanApi_data] ON 

INSERT [dbo].[PanApi_data] ([id], [kyc_id], [fullname], [Pan_number], [client_id], [category], [status_code], [success_result], [msg_result], [msg_code], [Create_at], [fullname2], [Pan_number2], [client_id2], [category2], [status_code2], [success_result2], [msg_result2], [msg_code2]) VALUES (28, N'KYCRAN4636', N'CHIC INFOTECH PRIVATE LIMITED', N'AABCC5995L', N'pan_TWXhLegbivpKrTczgBoH', N'company', N'200', N'True', N'', N'success', CAST(N'2023-02-25T13:16:43.590' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PanApi_data] ([id], [kyc_id], [fullname], [Pan_number], [client_id], [category], [status_code], [success_result], [msg_result], [msg_code], [Create_at], [fullname2], [Pan_number2], [client_id2], [category2], [status_code2], [success_result2], [msg_result2], [msg_code2]) VALUES (29, N'KYCDHA6118', N'CHIC INFOTECH PRIVATE LIMITED', N'AABCC5995L', N'pan_IhfliBYEluibJLwwVLnV', N'company', N'200', N'True', N'', N'success', CAST(N'2023-03-29T14:57:00.843' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PanApi_data] ([id], [kyc_id], [fullname], [Pan_number], [client_id], [category], [status_code], [success_result], [msg_result], [msg_code], [Create_at], [fullname2], [Pan_number2], [client_id2], [category2], [status_code2], [success_result2], [msg_result2], [msg_code2]) VALUES (30, N'KYCAJA2708', N'CHIC INFOTECH PRIVATE LIMITED', N'AABCC5995L', N'pan_JTGNXZJTuRQuLrvmquRq', N'company', N'200', N'True', N'', N'success', CAST(N'2023-03-29T14:59:19.333' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PanApi_data] OFF
GO
ALTER TABLE [dbo].[PanApi_data] ADD  DEFAULT (getdate()) FOR [Create_at]
GO
